<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcaaotr.community.dao.CommentMapper">
    <insert id="insertComment" parameterType="com.wcaaotr.community.entity.Comment">
        insert into comment(user_id, entity_type, entity_id, target_id, content, status, create_time)
        values (#{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </insert>
    <select id="selectCommentsByEntity" resultType="com.wcaaotr.community.entity.Comment">
        select id, user_id, entity_type, entity_id, target_id, content, status, create_time
        from comment
        where status=0
          and entity_type=#{entityType}
          and entity_id=#{entityId}
        order by id
    </select>
    <select id="selectCommentCountByEntity" resultType="java.lang.Integer">
        select count(id)
        from comment
        where status=0
          and entity_type=#{entityType}
          and entity_id=#{entityId}
    </select>
    <select id="selectCommentById" resultType="com.wcaaotr.community.entity.Comment">
        select id, user_id, entity_type, entity_id, target_id, content, status, create_time
        from comment
        where id=#{id}
    </select>
</mapper>
